#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    
}